log:
  level: INFO

entryPoints:
  web:
    address: ':80'
    http:
      redirections:
        entryPoint:
          to: web-secure

  web-secure:
    address: ':443'

  flower:
    address: ':5555'


certificatesResolvers:
  letsencrypt:
    acme:
      email: '${LETSENCRYPT_EMAIL}'
      storage: /etc/traefik/acme/acme.json
      httpChallenge:
        entryPoint: web

providers:
  # Static routes (django, frontend, flower) live in dynamic/static.yml.
  # Per-container routes are written to dynamic/app-PORT.yml at runtime.
  file:
    directory: /etc/traefik/dynamic/
    watch: true
